.cart-button {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.cart-button:hover {
  padding: 1.4rem 7rem;
}

.button {
  font-size: 1.6rem;
  border: none;
  border-radius: 15px;
  padding: 1.4rem 5rem;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s;
  backface-visibility: hidden;
}
