doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Peripherals Email
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap' rel='stylesheet')
    style(type='text/css').
      @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
      body {
      margin: 0;
      background-color: #f2f5f9;
      }
      table {
      border-spacing: 0;
      }
      td {
      padding: 0;
      }
      img {
      border: 0;
      }
      .wrapper {
      width: 100%;
      table-layout: fixed;
      background-color: #f2f5f9;
      }
      .main {
      background-color: #ffffff;
      margin: 0 auto;
      width: 100%;
      max-width: 600px;
      border-spacing: 0;
      font-family: 'Work Sans', sans-serif;
      color: #0d1020;
      }
      .paragraph {
      font-size: 16px;
      font-weight: 400;
      margin: 30px 40px;
      line-height: 1.5;
      }
      .paragraph span {
      color: #4c5daa;
      }
      @media screen and (max-width: 600px) {
      .logo-td {
      text-align: center !important;
      }
      .bottom-p {
      margin: 20px 3% !important;
      }
      .paragraph {
      margin: 30px 3% !important;
      }
      }
  body
    center.wrapper
      // LOGO
      table(width='100%')
        tr
          td(style='text-align: center')
            table(width='100%')
              tr
                td.logo-td(style='\
                    width: 100%;\
                    max-width: 600px;\
                    display: inline-block;\
                    text-align: left;\
                  ')
                  a(href='#')
                    img(style='width: 149px; height: 40px; margin: 30px 10px' src='https://i.ibb.co/gyDm35J/peripherals-logo.png' alt='peripherals-logo' border='0')
      // INNER BLOCK
      table.main(width='100%')
        // HEADING
        tr
          td
            table(width='100%' style='text-align: center')
              tr
                td
                  p(style='\
                      width: 100%;\
                      max-width: 304px;\
                      margin: 30px auto 0;\
                      padding: 0 3px;\
                      display: inline-block;\
                      font-size: 22px;\
                      text-transform: uppercase;\
                      line-height: 1.3;\
                    ')
                    | We received a password reset request
        // PARAGRAPH ONE
        tr
          td
            table(width='100%')
              tr
                td
                  p.paragraph
                    | Here is your Verification Code (OTP) for resetting the 
                    | password. The OTP will expire in 
                    span TEN Minutes
                    | .
        // RESET LINK
        tr
          td
            table(width='100%')
              tr
                td(style='text-align: center')
                  p(href='#' style='\
                      color: #4c5daa;\
                      font-size: 20px;\
                      letter-spacing: 2px;\
                      word-spacing: 3px;\
                      letter-spacing: 10px;\
                    ') #{passwordResetOTP}
        // PARAGRAPH TWO
        tr
          td
            table(width='100%')
              tr
                td
                  p.paragraph
                    | If you did not request to change your password, no worries
                    | you can ignore this OTP, as it will eventually expire.
      // BOTTOM TEXT
      table(width='100%')
        tr
          td(style='text-align: center')
            table(width='100%')
              tr
                td(style='\
                    width: 100%;\
                    max-width: 600px;\
                    display: inline-block;\
                    margin: 0 auto;\
                    text-align: center;\
                  ')
                  p.bottom-p(style='\
                      font-family: "Work Sans", sans-serif;\
                      font-size: 12px;\
                      font-weight: 300;\
                      margin: 20px 50px;\
                      color: #bbbec5;\
                      line-height: 1.5;\
                    ')
                    | Avoid sharing this email, as anyone who has the OTP 
                    | possibly can reset the password, till the OTP is valid. 
